body {
    font-size: 18px;
    font-family: "Avenir Next", "Avenir", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
}
html,
body {
    height: 100%;
}

.main-content {
    display: flex;
    height: 95%;
}

.text-editor{
    flex:1;
    padding:30px;
    width: 94%;
    height: 95%;
    border:0;
    resize: none;
    background: #fff;
    color:#333333;
}

.buttons-edit{
    margin:5px;
}

.preview {
    flex:1;
    padding: 0 50px;
    background: #f3f3f3;
    color:#3d3d3d;
}
.save-button{
    background-color:rgb(87, 228, 87);
    color:#fff;
    padding:2px;
    float: right;
}
.main-s{
    flex:1;
}
/* Botonera */
